
:root {
    /*--primary-color: #35339E;*/
    --primary-color: #5b5a76;
    --accent-color: #d95242;
    --secondary-color: #fcba63;
    --bg-color: #F8F8F8;
    --gray-color:  rgb(243, 239, 239);
    /*--accent-color:  rgba(238, 238, 255, 0.901);*/
}

